:root{

--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue-photography-text: hsl(198, 62%, 26%);
--Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

}


*,
*::before,
*::after{
    box-sizing: border-box;
    margin:0;
}

html{
    font-size:18px;
    scroll-behavior: smooth;
}

body{
    padding:0;
    line-height: 1.5;
}
/* improve media default  */
img{
    max-width: 100%;
    display:block;
}


ul{
    list-style: none;
}

a{
    text-decoration:none;
}

nav{
    cursor:pointer;
}

/* avoid text overflow  */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    overflow-wrap: break-word;
}

/* typography */

p{
    font-family:
    
}



header{
    background-image: url(./images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:450px;
}

.flex-layout{
  display:flex;
  justify-content: space-between;
  padding:  1em;
}



/* hidding the checkbox */


.menu-btn{
    position: absolute;
    top:-100%;
    left:-100%;
}

/* showing the hamburger menu  */
.menu-icon{
    display: block;
    
}

.menu-icon .navicon{
    background-color: var(--White);
    display: block;
    position:relative;
    width: 18px;
    height: 2px;;
}

.navicon:before{
    content:"";
    width:18px;
    height:2px;
    background-color: var(--White);
    position: absolute;
    top:5px;
}

.navicon:after{
    content:"";
    width:18px;
    height:2px;
    background-color: var(--White);
    position: absolute;
    bottom:5px;
}

.desktoplist-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.menu-btn ~ .desktoplist-menu{
    max-height: 250px;
}


.desktoplist-menu{
    /* visibility: hidden; */
}






